body {
    background-color: #173637;;
}
  
.container {
    display: grid;
    grid-template-columns: 1fr;
}
  
.card {
    grid-column: 1 / -1;
    margin: 10px;
}
  
#retangulo1 {
    position: absolute;
    width: 100%;
    height: 7vh; /* 60px é aproximadamente 6.5% da altura da tela (926px) */
    left: 0;
    top: 0;
    background: #20CD8D;
    border-radius: 0.2vw;
}
#titulo{
    top: 1.2vh;
    position: relative;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 9vw; 
    line-height: 7vh; /* 55px é aproximadamente 5.9% da altura da tela (926px) */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

#retangulo2{
    position: absolute;
    width: 84.6vw;
    height: 66vh;
    left: 7.9%;
    top: 14%;
    background: #20CD8D;
    border-radius: 1.4vw;
}

#caixa1 {
    position: absolute;
    width: 40vw; 
    height: 10vh; 
    left: 33vw; 
    top: 18vh; 
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.4vw;
  }

#caixa2 {
    position: absolute;
    width: 40vw; 
    height: 10vh; 
    left: 33vw; 
    top: 30vh; 
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.4vw;
}

#caixa3 {
    position: absolute;
    width: 40vw; 
    height: 10vh; 
    left: 33vw; 
    top: 42vh; 
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.4vw;
}

#caixa4 {
    position: absolute;
    width: 40vw; 
    height: 10vh; 
    left: 33vw; 
    top: 54vh; 
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.4vw;
}

#caixa5 {
    position: absolute;
    width: 40vw; 
    height: 10vh; 
    left: 33vw; 
    top: 66vh; 
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.4vw;
}

#dia1 {
    position: absolute;
    width: 21vw; 
    height: 3.2vh; 
    left: 3vw; 
    top: 20.3vh;
    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.4vw;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw; 
    font-size: 2vh;
    line-height: 3vh;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

#dia2 {
    position: absolute;
    width: 21vw; 
    height: 3.2vh; 
    left: 3vw;
    top: 33.2vh;
    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.4vw;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw; 
    font-size: 2vh;
    line-height: 3vh;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

#dia3 {
    position: absolute;
    width: 21vw; 
    height: 3.2vh; 
    left: 3vw; 
    top: 45.2vh; /* 418px é aproximadamente 45.2% da altura da tela (926px) */
    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.4vw;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw; 
    font-size: 2vh;
    line-height: 3vh;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

#dia4 {
    position: absolute;
    width: 21vw; 
    height: 3.2vh; 
    left: 3vw;
    top: 57.2vh; /* 527px é aproximadamente 57.2% da altura da tela (926px) */
    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.4vw;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw; 
    font-size: 2vh;
    line-height: 3vh;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

#dia5 {
    position: absolute;
    width: 21vw; 
    height: 3.2vh; 
    left: 3vw;
    top: 69.2vh;/* 637px é aproximadamente 69.2% da altura da tela (926px) */
    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.4vw;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw; 
    font-size: 2vh;
    line-height: 3vh;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}


