.menu-botao {
  position: absolute;
  width: 4.3vw;
  height: 8vh;
  left: 3vw;
  top: 7vh; /* 4px é aproximadamente 0.4% da altura da tela (926px) */
  color: #fff;
  cursor: pointer;
  background: #249068;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  border: none;
  text-align: center;
  font-size: 1.4vh;
  line-height: 2.7vh; /* 34px é aproximadamente 3.7% da altura da tela (926px) */
}
.menu-botao:hover{
  transform: rotate(20deg);
}

.menu-menu {
  position: absolute;
  left: 10vw; /* 900px é aproximadamente 30.8% da largura da tela (428px) */
  top: 6.8vh; /* 134px é aproximadamente 14.4% da altura da tela (926px) */
  /* 95px é aproximadamente 11.1% da largura da tela (428px) */
  padding: 0.5vh 0; /* 5px é aproximadamente 0.5% da altura da tela (926px) */
  margin: 0;
  list-style: none;
  text-align: center;
  font-size: 2vw;

  border-radius: 1vw;
  z-index: 9;
  display: flex;
}

#menuMenu li {
  width: 10vw;
  background-color: #1cbb81;
  color: #fff;
  padding: 0.5vh 0;
  margin: 0.5vw;
  border-radius: 0.5vw;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#menuMenu li:hover {
  background-color: #eee;
  border-radius: 0.8vw;
  color: #1cbb81;
}
#menu-but:focus + #menuMenu {
  display: block;
}
#menuMenu:hover a{
  color: #575757;
}
#menuMenu:hover a:hover{
  color:#5cdb95;
  box-shadow: 0 2px 0 0 currentColor;
}
#menuMenu li:hover a{
  color: purple;
}
.menu-menu.oculta {
  top: -39vh;
  left: 10vw;
}

#titulo.aberto {
  left: 58vw;

}

a{
  color: #fff;
  text-decoration: none;
  transition: 0.25s ease;
  z-index: 99999;
  position: relative;
}

ul{
  display: flex;
  flex-wrap: wrap;
}

ul li{
  margin-left: 0.75em;
  margin-right: 0.75em;
}

ul:hover a{
  color: #575757;
}

ul li:hover a{
  color: purple;
}

ul:hover a:hover{
  color:#5cdb95;
  box-shadow: 0 2px 0 0 currentColor;
}