.menu-botao {
  position: absolute;
  width: 10vw;
  height: 5vh;
  left: 3vw;
  top: 1.38vh;
  color: #fff;
  cursor: pointer;
  background: #249068;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  border: none;
  text-align: center;
  font-size: 1.4vh;
  line-height: 2.7vh;
  z-index: 8;
}
.menu-botao:hover {
  transform: rotate(20deg);
}
.menu-menu {
  position: absolute;
  left: 15vw;
  top: 1.38vh;
  padding: 0.5vh 0;
  margin: 0;
  list-style: none;
  text-align: center;
  font-size: 3.4vw;
  border-radius: 1vw;
  z-index: 7;
  display: flex;
  transform: translateX(-100%);
  transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out;
}
.menu-menu.aberto {
  left: 15vw;
  transform: translateX(0%);
}
#menuMenu li {
  width: 13vw;
  background-color: #1cbb81;
  color: #fff;
  padding: 0.5vh 0;
  margin: 1vw;
  border-radius: 0.5vw;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#menuMenu li:hover {
  background-color: #eee;
  border-radius: 0.8vw;
  color: #1cbb81;
}
#menu-but:focus + #menuMenu {
  display: block;
}
#menuMenu:hover a {
  color: #575757;
}
#menuMenu:hover a:hover {
  color: #5cdb95;
  box-shadow: 0 2px 0 0 currentColor;
}
#menuMenu li:hover a {
  color: purple;
}
.menu-menu.oculta {
  opacity: 0;
  left: 10vw;
  transform: translateX(-100%);
}
#titulo.aberto {
  opacity: 0;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.25s ease;
  z-index: 99999;
  position: relative;
}
