/* celular */
.sala-botao {
  position: absolute;
  left: 82vw; /* 900px é aproximadamente 30.8% da largura da tela (428px) */
  top: 5vh; /* 85px é aproximadamente 9.2% da altura da tela (926px) */
  width: 11vw; /* 95px é aproximadamente 11.1% da largura da tela (428px) */
  height: 2.7vh; /* 54px é aproximadamente 5.8% da altura da tela (926px) */
  color: #fff;
  cursor: pointer;
  background: #249068;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.4vw;
  border: none;
  text-align: center;
  font-size: 1.4vh;
  line-height: 2.7vh; /* 34px é aproximadamente 3.7% da altura da tela (926px) */
}

.sala-menu {
  position: absolute;
  left: 82vw; /* 900px é aproximadamente 30.8% da largura da tela (428px) */
  top: 7.45vh; /* 134px é aproximadamente 14.4% da altura da tela (926px) */
  width: 11.1vw; /* 95px é aproximadamente 11.1% da largura da tela (428px) */
  padding: 0.5vh 0; /* 5px é aproximadamente 0.5% da altura da tela (926px) */
  margin: 0;
  list-style: none;
  text-align: center;
  font-size: 3vw;
  background-color: #249068;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  z-index: 9;
}

#salaMenu li {
  background-color: #1cbb81;
  color: #fff;
  padding: 0.3vh 0;
  margin: 0.5vw;
  border-radius: 0.5vw;
  cursor: pointer;
  border-bottom: 0.1vh solid #ccc;
}
#salaMenu li:hover {
  background-color: #eee;
  border-radius: 0.8vw;
  color: #1cbb81;
}
#sala-butao:focus + #salaMenu {
  display: block;
}
#sala-butao.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#sala-butao.no-border-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.sala-menu.oculta {
  top: -150px;
}

#mensagem1a {
  position: absolute;
  width: 40vw;
  height: 10vh;
  left: 33vw;
  top: 20.7vh;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 1000;
  font-size: 3.2vw; /* 12px é aproximadamente 1.3% da altura da tela (926px) */
  line-height: 1.8vh; /* 17px é aproximadamente 1.8% da altura da tela (926px) */
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

#mensagem1b {
  position: absolute;
  width: 40vw;
  height: 10vh;
  left: 33vw;
  top: 32.7vh;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 1000;
  font-size: 3.2vw; 
  line-height: 1.8vh; 
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

#mensagem1c {
  position: absolute;
  width: 40vw;
  height: 10vh;
  left: 33vw;
  top: 44.7vh;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 1000;
  font-size: 3.2vw; 
  line-height: 1.8vh; 
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

#mensagem1d {
  position: absolute;
  width: 40vw;
  height: 10vh;
  left: 33vw;
  top: 56.7vh;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 1000;
  font-size: 3.2vw; 
  line-height: 1.8vh; 
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

#mensagem1e {
  position: absolute;
  width: 40vw;
  height: 10vh;
  left: 33vw;
  top: 68.7vh;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 1000;
  font-size: 3.2vw;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}
#mensagem1f {
  left: 78vw;
  top: 3.3vh;
  font-size: 3vw;
  height: 2.7vh;
  width: 11vw;
  line-height: 3vh;
}

/*  */
#mensagem2a {
  position: absolute;
  width: 40vw;
  height: 10vh;
  left: 33vw;
  top: 20.7vh;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 1000;
  font-size: 3.2vw;
  line-height: 1.8vh;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

#mensagem2b {
    position: absolute;
    width: 40vw;
    height: 10vh;
    left: 33vw;
    top: 32.7vh;
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 1000;
    font-size: 3.2vw; 
    line-height: 1.8vh; 
    text-align: center;
    color: #ffffff;
    mix-blend-mode: normal;
}

#mensagem2c {
    position: absolute;
    width: 40vw;
    height: 10vh;
    left: 33vw;
    top: 44.7vh;
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 1000;
    font-size: 3.2vw; 
    line-height: 1.8vh; 
    text-align: center;
    color: #ffffff;
    mix-blend-mode: normal;
}

#mensagem2d {
  position: absolute;
  width: 40vw;
  height: 10vh;
  left: 33vw;
  top: 56.7vh;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 1000;
  font-size: 3.2vw; 
  line-height: 1.8vh; 
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

#mensagem2e {
  position: absolute;
  width: 40vw;
  height: 10vh;
  left: 33vw;
  top: 68.7vh;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 1000;
  font-size: 3.2vw; 
  line-height: 1.8vh; 
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}
#mensagem2f {
  left: 78vw;
  top: 3.3vh;
  font-size: 3vw;
  height: 2.7vh;
  width: 11vw;
  line-height: 3vh;
}
